//Grey Colors
$white:       #FFFFFF !default;
$ghost:       #FAFAFA !default;
$snowwhite:   #F9F9F9 !default;
$vapor:       #F6F6F6 !default;
$whitesmoke:  #F5F5F5 !default;
$silver:      #EFEFEF !default;
$smoke:       #EEEEEE !default;
$gainsboro:   #DCDCDC !default;
$lightgrey:   #D3D3D3 !default;
$iron:        #CCCCCC !default;
$silver:      #C0C0C0 !default;
$base:        #AAAAAA !default;
$darkgrey:    #A9A9A9 !default;
$aluminum:    #999999 !default;
$jumbo:       #888888 !default;
$grey:        #808080 !default;
$monsoon:     #777777 !default;
$dimgrey:     #696969 !default;
$steel:       #666666 !default;
$charcoal:    #555555 !default;
$tuatara:     #444444 !default;
$oil:         #333333 !default;
$jet:         #222222 !default;
$black:       #000000 !default;

// We use these as default colors throughout
$primary-color: #008CBA !default; // bondi-blue
$secondary-color: #E7E7E7 !default; // white-lilac
$alert-color: #F04124 !default; // cinnabar
$success-color: #43AC6A !default; // sea-green
$warning-color: #F08A24 !default; // carrot
$info-color: #A0D3E8 !default; // cornflower
