@import "global";

//
// @variables
//
$include-html-form-classes: $include-html-classes !default;

$form-row-class: 'form-row' !default;
$form-inline-class: 'form-inline' !default;
// We use this to set the base for lots of form spacing and positioning styles
$form-spacing: $grid-gutter * 2 !default;
$form-blank: $grid-blank !default;
$form-bottom-margin: to-rem(10) !default;

// We use these to style the labels in different ways
$form-label-pointer: pointer !default;
$form-label-font-size: to-rem(14) !default;
$form-label-font-weight: $font-weight-normal !default;
$form-label-line-height: 1.5 !default;
$form-label-font-color: scale-color($black, $lightness: 30%) !default;

//input height
// $input-tiny: to-rem(24) !default;
$input-small: to-rem(34) !default;
$input-medium: to-rem(44) !default;
$input-large: to-rem(50) !default;

//We use this to controll the inputs style.
$input-font-color: rgba(0, 0, 0, 0.75) !default;
$input-font-size: to-rem(14) !default;
$input-placeholder-font-color: $aluminum !default;
$input-bg-color: $white !default;
$input-focus-bg-color: $input-bg-color !default;
$input-border-width: 1px !default;
$input-border-style: solid !default;
$input-border-color: scale-color($white, $lightness: -20%) !default;
$input-focus-border-color: scale-color($input-border-color, $lightness: -20%) !default;
$input-border-radius: $global-radius !default;
$input-disabled-bg: $gainsboro !default;
$input-box-shadow: inset 0 2px 3px rgba($black, 0.05) !default;

//We use this to controll the radios / checkboxes style.
$radio-medium: to-rem(24) !default;
$radio-bg-color: $white !default;
$radio-margin: to-rem(3 0) !default;
$radio-border-width: $input-border-width !default;
$radio-border-style: $input-border-style !default;
$radio-border-color: $input-border-color !default;
$radio-checked-border-color: $primary-color !default;
$radio-border-radius: $global-rounded !default;
$checkbox-checkmark-medium: $radio-medium - to-rem(10) !default;
$radio-disabled-checkmark-opacity: .5 !default;

// We use this to style the glowing effect of inputs when focused
$input-include-glowing-effect: true !default;
$input-glowing-effect-fade-time: .4s !default;
$input-glowing-effect-color: rgba($input-focus-border-color, .9) !default;
$radio-glowing-effect-color: rgba($radio-checked-border-color, .7) !default;

// We use these to style the fieldset border and spacing.
$fieldset-border-width: 1px !default;
$fieldset-border-style: solid !default;
$fieldset-border-color: $gainsboro !default;
$fieldset-padding: to-rem(10) !default;
$fieldset-margin: $form-bottom-margin !default;

// We use these to style the legends when you use them
$legend-bg: $white !default;
$legend-font-weight: $font-weight-bold !default;
$legend-padding: to-rem(0 5) !default;

// We use these to style the prefix and postfix input elements
$input-prefix-class: 'prefix' !default;
$input-postfix-class: 'postfix' !default;
$input-prefix-bg: scale-color($white, $lightness: -5%) !default;
$input-prefix-border-color: scale-color($white, $lightness: -20%) !default;
$input-prefix-border-size: 1px !default;
$input-prefix-border-type: solid !default;
$input-prefix-font-color: $oil !default;
$input-prefix-font-color-alt: $white !default;
$input-prefix-icon-size: to-rem(24) !default;

// We use these to style the error states for inputs and labels
$input-error-message-padding: to-rem(6 9 9) !default;
$input-error-message-top: -1px !default;
$input-error-message-font-size: to-rem(12) !default;
$input-error-message-font-weight: $font-weight-normal !default;
$input-error-message-font-color: $white !default;
$input-error-message-bg-color: $alert-color !default;
$input-error-message-font-color-alt: $oil !default;

// We use this to style the transition when inputs are focused and when the glowing effect is disabled.
$input-transition-fade-time: 0.15s !default;
$input-transition-fade-timing-function: linear !default;

//
// @MIXINS
//

// We use this mixin to give us form styles for rows inside of forms
@mixin form-row-base {
    // .#{$grid-row-class} {
        // margin: 0 (-$form-spacing);
        // .#{$grid-columns-class} {
        //     padding: 0 ($form-spacing);
        // }
        // Use this to collapse the margins of a form row
        // &.collapse {
            // .#{$grid-columns-class} {
            //     padding: 0;
            // }
            // input {
            //     @include side-radius(right, 0);
            // }
        // }
    // }
    > select.#{$grid-columns-class},
    > input.#{$grid-columns-class},
    > textarea.#{$grid-columns-class} {
        padding-left: $form-spacing;
        padding-right: $form-spacing;
        margin-left: $grid-gutter;
    }
}

// @MIXIN
//
// We use this mixin to give all basic form elements their style
@mixin form-element {
    display: block;
    // margin: 0 0 $form-spacing 0;
    padding: to-rem(3) $form-spacing;
    width: 100%;
    height: $input-medium;
    @if $input-bg-color {
        background-color: $input-bg-color;
    }
    border: $input-border-width $input-border-style $input-border-color;
    @if $input-box-shadow {
        box-shadow: $input-box-shadow;
    }
    line-height: 1.21428;
    font-size: $input-font-size;
    color: $input-font-color;
    @if $input-include-glowing-effect {
        @include block-glowing-effect(focus, $input-glowing-effect-fade-time, $input-glowing-effect-color);
    }
    // Basic focus styles
    &:focus {
        // border-color: $input-focus-border-color;
        outline: none;
    }
    // Disabled Styles
    // &:disabled {
    //     background-color: $input-disabled-bg;
    // }
    // Disabled background input background color
    &:disabled,
    &[readonly],
    [disabled] & {
        background-color: $input-disabled-bg;
    }
    // &.tiny {
    //     height: $input-tiny;
    // }
    &.small {
        height: $input-small;
    }
    &.large {
        height: $input-large;
    }
}

// @MIXIN
//
// We use this mixin to create form labels
//
// $alignment - Alignment options. Default: false. Options: [right, inline, false]
// $base-style - Control whether or not the base styles come through. Default: true.
@mixin form-label($alignment: false, $base-style: true) {
    // Control whether or not the base styles come through.
    @if $base-style {
        color: $form-label-font-color;
        display: block;
        font-size: $form-label-font-size;
        font-weight: $form-label-font-weight;
        line-height: $form-label-line-height;
        // margin-bottom: $form-label-bottom-margin;
    }
    // Alignment options
    @if $alignment == right {
        text-align: right;
    }
    @else if $alignment == inline {
        margin: 0 0 $form-spacing * 2 0;
        padding: ($form-spacing + to-rem($input-border-width)) 0;
    }
}

// We use this mixin to create postfix/prefix form Labels
@mixin prefix-postfix-base {
    display: block;
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
    border: $input-prefix-border-size $input-prefix-border-type;
    height: $input-medium;
    line-height: $input-medium;
    font-size: $form-label-font-size;
    text-align: center;
}
@mixin prefix-postfix-style($bg: $input-prefix-bg, $border: $input-prefix-border-color) {
    @if $border {
        border-color: $input-prefix-border-color;
    }
    @if $bg {
        $bg-lightness: lightness($bg);
        background: $bg;
        // Control the font color based on background brightness
        @if $bg-lightness > 70% or $bg == yellow {
            color: $input-prefix-font-color;
        }
        @else {
            color: $input-prefix-font-color-alt;
        }
    }
}

// We use this mixin to create prefix label styles
@mixin prefix($border-collapse: true) {
    @if $border-collapse {
        border-right: none;
    }
}

// We use this mixin to create postfix label styles
@mixin postfix($border-collapse: true) {
    @if $border-collapse {
        border-left: none;
    }
}

// We use this mixin to style fieldsets
@mixin fieldset {
    border: $fieldset-border-width $fieldset-border-style $fieldset-border-color;
    margin: $fieldset-margin 0;
    padding: $fieldset-padding;
    // and legend styles
    legend {
        background: $legend-bg;
        font-weight: $legend-font-weight;
        margin: 0 0 0 to-rem(-3);
        padding: $legend-padding;
    }
}

// @MIXIN
//
// We use this mixin to control border and background color of error inputs
// $color - Default: $alert-color (found in settings file)
@mixin form-error-color($color: $alert-color) {
    background-color: rgba($color, 0.1);
    border-color: $color;
    // Go back to normal on focus
    &:focus {
        background: $input-focus-bg-color;
        border-color: $input-focus-border-color;
    }
}

// @MIXIN
//
// We use this simple mixin to style labels for error inputs
// $color - Default:$alert-color. Found in settings file
@mixin form-label-error-color($color: $alert-color) {
    color: $color;
}

// @MIXIN
//
// We use this mixin to create error message styles
// $bg - Default: $alert-color (Found in settings file)
@mixin form-error-message($bg: $input-error-message-bg-color) {
    // display: block;
    margin-top: $input-error-message-top;
    margin-bottom: 0;
    padding: $input-error-message-padding;
    font-size: $input-error-message-font-size;
    // font-weight: $input-error-message-font-weight;
    // We can control the text color based on the brightness of the background.
    $bg-lightness: lightness($bg);
    // background: $bg;
    // @if $bg-lightness < 70% or $bg == yellow {
    //     color: $input-error-message-font-color;
    // }
    // @else {
    //     color: $input-error-message-font-color-alt;
    // }
}

// We use this mixin to style select elements
@mixin form-select {
    // The custom arrow has some fake horizontal padding so we can align it
    // from the right side of the element without relying on CSS3
    // We can safely use leftmost and rightmost now
    background: $input-bg-color url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMCIgeT0iMCIgd2lkdGg9IjI0cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgMjQgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWdvbiBwb2ludHM9IjguNSwwIDEyLDMgMTUuNSwwIi8+DQo8L3N2Zz4NCg==) 100% 50% no-repeat;
    padding-right: ($form-spacing * 3);
}

@include exports("form") {
    @if $include-html-form-classes {
        // We use this to get basic styling on all basic form elements
        input,
        textarea,
        select {
            appearance: none;
            border-radius: 0;
            @include form-element;
            &.radius {
                border-radius: $input-border-radius;
            }
            &.round {
                border-radius: $global-rounded;
            }
            &.underline {
                border-width: 0 0 1px 0;
                box-shadow: 0 0 0 0 transparent;
            }
        }
        input[type="submit"] {
            appearance: none;
            border-radius: 0;
        }
        // Not allow resize out of parent
        textarea {
            max-width: 100%;
        }
        // Respect enforced amount of rows for textarea
        textarea[rows] {
            height: auto;
        }
        // style placeholder text cross browser
        ::placeholder {
            color: $input-placeholder-font-color;
        }
        // Add height value for select elements to match text input height
        select {
            @include form-select;
            // height: $input-font-size + $form-spacing * 1.5 - to-rem(1);
            &[multiple] {
                height: auto;
            }
        }
        // // Adjust margin for form elements below
        // input[type="file"],
        // input[type="checkbox"],
        // input[type="radio"],
        // select {
        //     margin: 0 0 $form-spacing 0;
        // }
        // Radio and Checkbox's Style
        input[type="radio"],
        input[type="checkbox"] {
            // appearance: none;
            display: inline-block;
            position: relative;
            margin: $radio-margin;
            padding: 0;
            width: $radio-medium;
            height: $radio-medium;
            @if darken($radio-bg-color, 0) != darken($input-bg-color, 0) {
                background-color: $radio-bg-color;
            }
            @if $radio-border-width != $input-border-width or $radio-border-style != $input-border-style or darken($radio-border-color, 0) != darken($input-border-color, 0) {
                border: $radio-border-width $radio-border-style $radio-border-color;
            }
            border-radius: $radio-border-radius;
            vertical-align: middle;
            &::before {
                position: absolute;
            }
            &:checked {
                border-color: $radio-checked-border-color;
                &::before {
                    content: "";
                    color: $radio-checked-border-color;
                }
                @if $input-include-glowing-effect {
                    &:focus {
                        box-shadow: 0 0 5px $radio-glowing-effect-color;
                    }
                }
            }
            &:disabled {
                opacity: $radio-disabled-checkmark-opacity;
                &::before {
                    opacity: $radio-disabled-checkmark-opacity;
                }
            }
        }
        input[type="radio"] {
            &:checked::before {
                top: -1px;
                left: -1px;
                width: $radio-medium;
                height: $radio-medium;
                padding: to-rem(5);
                background-clip: content-box;
                background-color: $primary-color;
                border-radius: $global-rounded;
            }
            &:disabled {
                border-color: $radio-border-color;
            }
        }
        input[type="checkbox"] {
            &:checked {
                background-color: $primary-color;
                &::before {
                    top: to-rem(6);
                    left: to-rem(4);
                    width: $checkbox-checkmark-medium;
                    height: $checkbox-checkmark-medium / 2;
                    border-left: to-rem(2) solid $white;
                    border-bottom: to-rem(2) solid $white;
                    transform: rotate(-45deg);
                }
            }
        }
        // /a.s.o.
        input[type="checkbox"] + label,
        input[type="radio"] + label {
            display: inline-block;
            margin-left: $form-spacing;// * 0.5;
            margin-right: $form-spacing;
            // margin-bottom: 0;
            // vertical-align: baseline;
        }
        // Normalize file input width
        input[type="file"] {
            width: 100%;
        }
        // HTML5 Number spinners settings
        input[type=number] {
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                appearance: none;
                margin: 0;
            }
        }
        // Label Styles
        label {
            @include form-label;
            &.right {
                @include form-label(right, false);
            }
            &.inline {
                @include form-label(inline, false);
            }
            // Styles for required inputs
            small {
                color: scale-color($form-label-font-color, $lightness: 15%);
            }
        }
        // We add basic fieldset styling
        fieldset {
            @include fieldset;
        }
        // Standard Forms
        form {
            margin: 0 $form-blank $form-bottom-margin;
        }
        .#{$form-row-class} {
            display: flex;
            > :not(input).#{$grid-columns-class} {
                @include grid-column($collapse: sides, $float: false);
            }
            margin-bottom: $form-bottom-margin;
        }
        // Using forms within rows, we need to set some defaults
        form .#{$grid-row-class},
        .#{$form-row-class} {
            @include form-row-base;
        }
        .#{$form-inline-class} {
            label {
                line-height: $input-medium;
            }
        }
        // Attach elements to the beginning or end of an input
        .#{$input-prefix-class},
        .#{$input-postfix-class} {
            @include prefix-postfix-base;
            @include prefix-postfix-style;
            // Adjust padding, alignment and radius if pre/post element is a button
            &.#{$buttons-class} {
                padding: 0;
                // background-color: $buttons-bg-color;
                border-color: $buttons-border-color;
                border-radius: 0;
                margin-bottom: 0;
                &.primary {
                    background-color: $buttons-bg-color;
                    color: $buttons-font-color;
                }
            }
            [class^=#{$icons-class}-] {
                font-size: $input-prefix-icon-size;
            }
        }
        // Separate prefix and postfix styles when on span or label so buttons keep their own
        .#{$input-prefix-class} {
            @include prefix;
            // &.#{$buttons-class} {
            //     @include side-radius(right, 0);
            // }
            &.#{$buttons-class}.round {
                border-radius: $global-rounded 0 0 $global-rounded;
            }
        }
        .#{$input-postfix-class} {
            @include postfix;
            // &.#{$buttons-class} {
            //     @include side-radius(left, 0);
            // }
            &.#{$buttons-class}.round {
                border-radius: 0 $global-rounded $global-rounded 0;
            }
        }
        .#{$input-prefix-class}-radius {
            input,
            textarea,
            select,
            button {
                @include side-radius(right, $input-border-radius);
            }
            .#{$input-prefix-class} {
                @include side-radius(left, $input-border-radius);
            }
        }
        .#{$input-postfix-class}-radius {
            input,
            textarea,
            select,
            button {
                @include side-radius(left, $input-border-radius);
            }
            .#{$input-postfix-class} {
                @include side-radius(right, $input-border-radius);
            }
        }
        .#{$input-prefix-class}-round {
            input,
            textarea,
            select,
            button {
                @include side-radius(right, $global-rounded);
            }
            .#{$input-prefix-class} {
                @include side-radius(left, $global-rounded);
            }
        }
        .#{$input-postfix-class}-round {
            input,
            textarea,
            select,
            button {
                @include side-radius(left, $global-rounded);
            }
            .#{$input-postfix-class} {
                @include side-radius(right, $global-rounded);
            }
        }
        /* Error Handling */
        #{data("validator")} {
            .#{$alert-class}.error {
                display: none;
            }
            .has-error .#{$alert-class} {
                display: block;
            }
        }
        .#{$alert-class}.error {
            @include form-error-message;
        }
        .has-error {
            label {
                @include form-label-error-color;
            }
            input,
            textarea,
            select {
                border-color: $alert-color;
            }
            > label {
                > .#{$alert-class} {
                    background: transparent;
                    color: scale-color($form-label-font-color, $lightness: 15%);
                    display: inline !important;
                    font-size: 60%;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        label.error {
            @include form-label-error-color;
        }
    }
}