@import "global";

//
// @variables
//
$include-html-media-classes: $include-html-classes !default;

$thumb-class: 'thumb' !default;
// We use these to control border styles
$thumb-border-width: to-rem(4) !default;
$thumb-border-style: solid !default;
$thumb-border-color: $white !default;
$thumb-box-margin: 1px !default;
$thumb-box-shadow: 0 0 0 1px $gainsboro !default;
$thumb-box-shadow-hover: 0 0 to-rem(6) 1px rgba($primary-color, 0.5) !default;

// Radius and transition speed for thumbs
$thumb-radius: $global-radius !default;
$thumb-transition-speed: 200ms !default;

//
// @mixins
//

// We use this to create image thumbnail styles.
//
// $border-width - Width of border around thumbnail. Default: $thumb-border-width.
// $box-shadow - Box shadow to apply to thumbnail. Default: $thumb-box-shadow.
// $box-shadow-hover - Box shadow to apply on hover. Default: $thumb-box-shadow-hover.
@mixin thumb($border-width: $thumb-border-width, $box-shadow: $thumb-box-shadow, $box-shadow-hover: $thumb-box-shadow-hover) {
    border: $border-width $thumb-border-style $thumb-border-color;
    box-shadow: $box-shadow;
    margin: $thumb-box-margin;
    display: inline-block;
    // line-height: 0;
    max-width: 100%;
    &:hover,
    &:focus {
        box-shadow: $box-shadow-hover;
    }
}

@include exports("thumb") {
    @if $include-html-media-classes {
        /* Image Thumbnails */
        .#{$thumb-class} {
            @include thumb;
            border-radius: $thumb-radius;
            @include transition(all, $thumb-transition-speed, ease-out);
        }
    }
}