@import "global";

//
// @variables
//
$include-html-media-classes: $include-html-classes !default;

$thumb-class: 'thumb' !default;
// We use these to control border styles
$thumb-border-width: to-rem(4) !default;
$thumb-border-style: solid !default;
$thumb-border-color: $white !default;
$thumb-margin: 1px !default;
$thumb-box-shadow: 0 0 0 1px $gainsboro !default;
$thumb-box-shadow-hover: 0 0 to-rem(6) 1px rgba($primary-color, 0.5) !default;

// Radius and transition speed for thumbs
$thumb-radius: $global-radius !default;
$thumb-transition-speed: 200ms !default;

//
// @mixins
//

@mixin thumb-base($box-shadow-hover: $thumb-box-shadow-hover) {
    display: inline-block;
    max-width: 100%;
    border-radius: $thumb-radius;
    // line-height: 0;
    @include transition(all, $thumb-transition-speed, ease-out);
    img {
        border-radius: $thumb-radius;
    }
    @if $box-shadow-hover {
        &:hover {
            box-shadow: $box-shadow-hover;
        }
    }
}
// We use this to create image thumbnail styles.
//
// $border-width - Width of border around thumbnail. Default: $thumb-border-width.
// $box-shadow - Box shadow to apply to thumbnail. Default: $thumb-box-shadow.
// $margin - margin to apply to thumbnail. Default: $thumb-margin.
@mixin thumb-style($border-width: $thumb-border-width, $box-shadow: $thumb-box-shadow, $margin: $thumb-margin) {
    @if $margin {
        margin: $margin;
    }
    @if $border-width {
        border: $border-width $thumb-border-style $thumb-border-color;
    }
    @if $box-shadow {
        box-shadow: $box-shadow;
    }
}

@include exports("thumb") {
    @if $include-html-media-classes {
        /* Image Thumbnails */
        .#{$thumb-class} {
            @include thumb-base;
            &.bordered {
                @include thumb-style;
                @if $thumb-box-shadow-hover {
                    &:hover {
                        box-shadow: $thumb-box-shadow-hover;
                    }
                }
                img {
                    border-radius: $thumb-radius - to-rem(1);
                }
            }
            &.flat {
                &,
                img {
                    border-radius: 0;
                }
            }
            &.round {
                &,
                img {
                    border-radius: $global-rounded;
                }
            }
        }
    }
}