@import "global";

//
// @variables
//
$include-html-tips-classes: $include-html-classes !default;

$poptip-class: 'poptip' !default;
$poptip-z-index: 1010 !default;
$poptip-blank: null !default;

$poptip-bg: rgba($black, .7) !default;
$poptip-bg-primary: rgba($primary-color, .7) !default;
$poptip-bg-secondary: rgba($secondary-color, .75) !default;
$poptip-bg-alert: rgba($alert-color, .75) !default;
$poptip-bg-success: rgba($success-color, .75) !default;
$poptip-bg-warning: rgba($warning-color, .85) !default;
$poptip-bg-info: rgba($info-color, .85) !default;

$poptip-height: to-rem(40) !default;
$poptip-border-radius: null !default;
$poptip-font-color: $white !default;
$poptip-font-color-reverse: $jet !default;
$poptip-font-size: to-rem(16) !default;

$msgtip-class: 'msgtip' !default;
$msgtip-z-index: 1010 !default;
$msgtip-padding: to-rem(5 20) !default;
$msgtip-bg: $poptip-bg !default;
$msgtip-height: to-rem(40) !default;
$msgtip-border-radius: $global-radius !default;
$msgtip-font-color: $poptip-font-color !default;
$msgtip-font-size: to-rem(16) !default;

$slidetip-class: 'slidetip' !default;

@include exports("tips") {
    @if $include-html-tips-classes {
        /* Pop tip */
        .#{$poptip-class},
        .#{$slidetip-class} {
            position: fixed;
            left: 0;
            z-index: $poptip-z-index;
            @if $poptip-blank {
                padding-left: $poptip-blank;
                padding-right: $poptip-blank;
            }
            width: 100%;
            overflow: hidden;
            .content {
                background-color: $poptip-bg;
                @if $poptip-border-radius {
                    border-radius: 0 0 $poptip-border-radius $poptip-border-radius;
                }
                @include nowrap;
                line-height: $poptip-height;
                color: $poptip-font-color;
                font-size: $poptip-font-size;
                text-align: center;
            }
        }
        .#{$slidetip-class} {
            bottom: 0;
        }

        /*Message tip*/
        .#{$msgtip-class} {
            @include centered(fixed);
            z-index: $poptip-z-index;
            .content {
                padding: $msgtip-padding;
                background-color: $msgtip-bg;
                border-radius: $msgtip-border-radius;
                @include nowrap;
                line-height: $msgtip-height;
                color: $msgtip-font-color;
                font-size: $msgtip-font-size;
                text-align: center;
            }
        }

        .#{$poptip-class},
        .#{$msgtip-class} {
            &.primary .content {
                background-color: $poptip-bg-primary;
            }
            &.secondary .content {
                background-color: $poptip-bg-secondary;
                color: $poptip-font-color-reverse;
            }
            &.alert .content {
                background-color: $poptip-bg-alert;
            }
            &.success .content {
                background-color: $poptip-bg-success;
            }
            &.warning .content {
                background-color: $poptip-bg-warning;
            }
            &.info .content {
                background-color: $poptip-bg-info;
                color: $poptip-font-color-reverse;
            }
        }
    }
}