@import "global";

//
// Alert Box Variables
//
$include-html-alert-classes: $include-html-classes !default;

$alert-class: 'alert-box' !default;
// We use this to control alert padding.
$alert-padding: to-rem(10 22 10 10) !default;

// We use these to control text style.
$alert-font-weight: $font-weight-normal !default;
$alert-font-size: to-rem(13) !default;
$alert-font-color: $white !default;
$alert-font-color-alt: scale-color($secondary-color, $lightness: -66%) !default;

// We use this for close hover effect.
$alert-function-factor: -14% !default;

// We use these to control border styles.
$alert-border-style: solid !default;
$alert-border-width: 1px !default;
$alert-border-color: scale-color($primary-color, $lightness: $alert-function-factor) !default;
$alert-bottom-margin: to-rem(20) !default;

// We use these to style the close buttons
$alert-close-color: $oil !default;
$alert-close-top: 50% !default;
$alert-close-position: to-rem(4) !default;
$alert-close-font-size: to-rem(30) !default;
$alert-close-opacity: 0.4 !default;
$alert-close-padding: to-rem(0 4) !default;
$alert-close-margin-top: to-rem(-3) !default;

// We use this to control border radius
$alert-radius: $global-radius !default;

$alert-transition-speed: 300ms !default;
$alert-transition-ease: $easeOut !default;

//
// Alert Mixins
//

// We use this mixin to create a default alert base.
@mixin alert-base {
    display: block;
    position: relative;
    margin-bottom: $alert-bottom-margin;
    padding: $alert-padding;
    border-style: $alert-border-width $alert-border-style;
    font-size: $alert-font-size;
    font-weight: $alert-font-weight;
    @include transition(opacity, $alert-transition-speed, $alert-transition-ease);
}

// We use this mixin to add alert styles
//
// $bg - The background of the alert. Default: $primary-color.
@mixin alert-style($bg: $primary-color) {
    // This finds the lightness percentage of the background color.
    $bg-lightness: lightness($bg);
    // We control which background color and border come through.
    background-color: $bg;
    border-color: scale-color($bg, $lightness: $alert-function-factor);
    // We control the text color for you based on the background color.
    @if $bg-lightness > 70% {
        color: $alert-font-color-alt;
    }
    @else {
        color: $alert-font-color;
    }
}

// We use this to create the close button.
@mixin alert-close {
    position: absolute;
    top: $alert-close-top;
    right: $alert-close-position;
    transform: translateY(-50%);
    padding: $alert-close-padding;
    margin-top: $alert-close-margin-top;
    opacity: $alert-close-opacity;
    line-height: 1;
    font-size: $alert-close-font-size;
    color: $alert-close-color;
}

// We use this to quickly create alerts with a single mixin.
//
// $bg - Background of alert. Default: $primary-color.
// $radius - Radius of alert box. Default: false.
@mixin alert($bg: $primary-color, $radius: false) {
    @include alert-base;
    @include alert-style($bg);
    border-radius: $radius;
}

@include exports("alert-box") {
    @if $include-html-alert-classes {
        /* Alert boxes */
        .#{$alert-class} {
            @include alert;
            .close {
                @include alert-close;
            }
            &.radius {
                border-radius: $alert-radius;
            }
            &.round {
                border-radius: $global-rounded;
            }
            &.success {
                @include alert-style($success-color);
            }
            &.alert,
            &.error {
                @include alert-style($alert-color);
            }
            &.secondary {
                @include alert-style($secondary-color);
            }
            &.warning {
                @include alert-style($warning-color);
            }
            &.info {
                @include alert-style($info-color);
            }
            &.alert-close {
                opacity: 0;
            }
        }
    }
}