@charset "UTF-8";

//
// Variable
//

$include-html-animate-classes: $include-html-classes !default;

$animate-duration-faster:  .2s !default;
$animate-duration-fast:    .3s !default;
$animate-duration-normal:  .5s !default;
$animate-duration-slow:     1s !default;
$animate-duration-slower: 1.5s !default;
$animate-duration: $animate-duration-normal !default;

// Included, add as needed.
$animate-include: (slideInUp slideInDown slideOutUp slideOutDown fadeIn fadeOut circle) !default;

//
// Mixins
//
@mixin animated {
    .animated {
        animation-duration: $animate-duration;
        animation-fill-mode: both;
        &.infinite {
            animation-iteration-count: infinite;
        }
        &.faster {
            animation-duration: $animate-duration-faster;
        }
        &.fast {
            animation-duration: $animate-duration-fast;
        }
        &.normal {
            animation-duration: $animate-duration-normal;
        }
        &.slow {
            animation-duration: $animate-duration-slow;
        }
        &.slower {
            animation-duration: $animate-duration-slower;
        }
    }
}

@mixin circle {
    @keyframes circle {
        from {
            transform-origin: center;
            transform: rotate3d(0, 0, 1, -360deg);
        }
        to {
            transform-origin: center;
            transform: none;
        }
    }

    .circle {
        animation-duration: $animate-duration-slow;
        animation-name: circle;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

@mixin fadeIn {
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .fade-in {
        animation-name: fadeIn;
    }
}

@mixin fadeInDown {
    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }
        to {
            opacity: 1;
            transform: none;
        }
    }

    .fade-in-down {
        animation-name: fadeInDown;
    }
}

@mixin fadeInUp {
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            transform: none;
        }
    }

    .fade-in-up {
        animation-name: fadeInUp;
    }
}

@mixin fadeOut {
    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    .fade-out {
        animation-name: fadeOut;
    }
}

@mixin fadeOutDown {
    @keyframes fadeOutDown {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
    }

    .fade-out-down {
        animation-name: fadeOutDown;
    }
}

@mixin fadeOutUp {
    @keyframes fadeOutUp {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }
    }

    .fade-out-up {
        animation-name: fadeOutUp;
    }
}

@mixin slideInDown {
    @keyframes slideInDown {
        from {
            transform: translate3d(0, -100%, 0);
            visibility: visible;
        }
        to {
            transform: translate3d(0, 0, 0);
        }
    }

    .slide-in-down {
        animation-name: slideInDown;
    }
}

@mixin slideInUp {
    @keyframes slideInUp {
        from {
            transform: translate3d(0, 100%, 0);
            visibility: visible;
        }
        to {
            transform: translate3d(0, 0, 0);
        }
    }

    .slide-in-up {
        animation-name: slideInUp;
    }
}

@mixin slideInLeft {
    @keyframes slideInLeft {
        from {
            transform: translate3d(100%, 0, 0);
            visibility: visible;
        }
        to {
            transform: translate3d(0, 0, 0);
        }
    }

    .slide-in-left {
        animation-name: slideInLeft;
    }
}

@mixin slideInRight {
    @keyframes slideInRight {
        from {
            transform: translate3d(0, 0, 0);
            visibility: visible;
        }
        to {
            transform: translate3d(100%, 0, 0);
        }
    }

    .slide-in-right {
        animation-name: slideInRight;
    }
}

@mixin slideOutDown {
    @keyframes slideOutDown {
        from {
            transform: translate3d(0, 0, 0);
        }
        to {
            visibility: hidden;
            transform: translate3d(0, 100%, 0);
        }
    }

    .slide-out-down {
        animation-name: slideOutDown;
    }
}

@mixin slideOutUp {
    @keyframes slideOutUp {
        from {
            transform: translate3d(0, 0, 0);
        }
        to {
            visibility: hidden;
            transform: translate3d(0, -100%, 0);
        }
    }

    .slide-out-up {
        animation-name: slideOutUp;
    }
}

@mixin slideOutLeft {
    @keyframes slideOutLeft {
        from {
            transform: translate3d(0, 0, 0);
        }
        to {
            visibility: hidden;
            transform: translate3d(-100%, 0, 0);
        }
    }

    .slide-out-left {
        animation-name: slideOutLeft;
    }
}

@mixin slideOutRight {
    @keyframes slideOutRight {
        from {
            transform: translate3d(0, 0, 0);
        }
        to {
            visibility: hidden;
            transform: translate3d(100%, 0, 0);
        }
    }

    .slide-out-right {
        animation-name: slideOutRight;
    }
}

@mixin zoomIn {
    @keyframes zoomIn {
        from {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }
        50% {
            opacity: 1;
        }
    }

    .zoom-in {
        animation-name: zoomIn;
    }
}

@mixin zoomOut {
    @keyframes zoomOut {
        from {
            opacity: 1;
        }
        50% {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }
        to {
            opacity: 0;
        }
    }

    .zoom-out {
        animation-name: zoomOut;
    }
}

@include exports("animate") {
    @if $include-html-animate-classes {
        @include animated;
        @each $v in $animate-include {
            @if $v == circle {
                @include circle;
            }
            @else if $v == fadeIn {
                @include fadeIn;
            }
            @else if $v == fadeInUp {
                @include fadeInUp;
            }
            @else if $v == fadeInDown {
                @include fadeInDown;
            }
            @else if $v == fadeOut {
                @include fadeOut;
            }
            @else if $v == fadeOutUp {
                @include fadeOutUp;
            }
            @else if $v == fadeOutDown {
                @include fadeOutDown;
            }
            @else if $v == slideInUp {
                @include slideInUp;
            }
            @else if $v == slideInDown {
                @include slideInDown;
            }
            @else if $v == slideInLeft {
                @include slideInLeft;
            }
            @else if $v == slideInRight {
                @include slideInRight;
            }
            @else if $v == slideOutUp {
                @include slideOutUp;
            }
            @else if $v == slideOutDown {
                @include slideOutDown;
            }
            @else if $v == slideOutLeft {
                @include slideOutLeft;
            }
            @else if $v == slideOutRight {
                @include slideOutRight;
            }
            @else if $v == zoomIn {
                @include zoomIn;
            }
            @else if $v == zoomOut {
                @include zoomOut;
            }
        }
    }
}
