@import "global";

//
// @variables
//
$include-html-slides-classes: $include-html-classes !default;

// Graceful Loading Wrapper and preloader
$slides-class: "slide" !default;
$slides-wrapper-class: "slideshow-wrapper" !default;
$slides-preloader-class: "preloader" !default;

// We use these to control the caption styles
$slides-container-bg: none !default;
$slides-caption-bg: rgba(51, 51, 51, 0.8) !default;
$slides-caption-font-color: $white !default;
$slides-caption-font-size: to-rem(14) !default;
// Supported values: "bottom", "under", "top"
$slides-caption-position: top !default;
$slides-caption-padding: to-rem(10 14) !default;
$slides-caption-height: auto !default;

// We use these to control the left/right nav styles
$slides-nav-bg: transparent !default;
$slides-nav-bg-hover: rgba(0, 0, 0, 0.3) !default;
$slides-nav-arrow-color: $white !default;
$slides-nav-arrow-color-hover: $white !default;

// We use these to control the bullet nav styles
$slides-bullet-position: bottom !default;
$slides-bullet-bg-color: false !default;
$slides-bullet-nav-color: $iron !default;
$slides-bullet-nav-color-active: $aluminum !default;
$slides-bullet-radius: to-rem(9) !default;

// We use these to controls the style of slide numbers
$slides-number-bg: rgba(0, 0, 0, 0) !default;
$slides-number-font-color: $white !default;
$slides-number-padding: to-rem(5) !default;

@include exports("slides") {
    @if $include-html-slides-classes {
        /* Images slides */
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        /* Graceful Loading */
        .#{$slides-wrapper-class} {
            position: relative;
            ul {
                // Prevent bullets showing before .slide-container is loaded
                list-style-type: none;
                margin: 0;
                // Hide all list items
                li,
                li .#{$slides-class}-caption {
                    display: none;
                }
                // ...except for the first one
                li:first-child {
                    display: block;
                }
            }
            .#{$slides-class}-container {
                background-color: transparent;
                // Show images when .slide-container is loaded
                li {
                    display: block;
                    .#{$slides-class}-caption {
                        display: block;
                    }
                }
                .#{$slides-class}-bullets > li {
                    display: inline-block;
                }
            }
            .#{$slides-preloader-class} {
                border-radius: $global-rounded;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-name: rotate;
                animation-timing-function: linear;
                border-color: $charcoal $white;
                border: solid 3px;
                display: block;
                height: 40px;
                left: 50%;
                margin-left: -20px;
                margin-top: -20px;
                position: absolute;
                top: 50%;
                width: 40px;
            }
        }
        .#{$slides-class}-container {
            background: $slides-container-bg;
            overflow: hidden;
            position: relative;
            width: 100%;
            .previews {
                list-style: none;
                margin: 0;
                padding: 0;
                position: relative;
                // Prevents images (and captions) from disappearing after first rotation on Chrome for Android
                transform: translateZ(0);
                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                }
                > * {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    margin-left: 100%;
                    &:first-child {
                        margin-left: 0;
                    }
                    .#{$slides-class}-caption {
                        @if $slides-caption-position == top {
                            position: absolute;
                            top: 0;
                            width: 100%;
                        }
                        @else if $slides-caption-position == bottom {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                        }
                        @else if $slides-caption-position == under {
                            position: relative;
                        }
                        margin: 0;
                        padding: $slides-caption-padding;
                        background-color: $slides-caption-bg;
                        color: $slides-caption-font-color;
                        font-size: $slides-caption-font-size;
                    }
                }
            }
            .#{$slides-class}-number {
                left: 10px;
                background: $slides-number-bg;
                color: $slides-number-font-color;
                font-size: 12px;
                position: absolute;
                span {
                    font-weight: 700;
                    padding: $slides-number-padding;
                }
                top: 10px;
                z-index: 10;
            }
            // Let's get those controls to be right in the center on each side
            .#{$slides-class}-prev,
            .#{$slides-class}-next {
                position: absolute;
                top: 45%;
                z-index: 10;
                margin-top: -25px;
                width: 36px;
                height: 60px;
                background-color: $slides-nav-bg;
                line-height: 50px;
                text-indent: -9999px !important;
                color: white;
                &:hover {
                    background-color: $slides-nav-bg-hover;
                }
                & > span {
                    border: inset 10px;
                    display: block;
                    height: 0;
                    margin-top: -10px;
                    position: absolute;
                    top: 50%;
                    width: 0;
                }
            }
        }
        .#{$slides-class}-bullets-container {
            @if $slides-bullet-position == top {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
            @else if $slides-bullet-position == bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
            text-align: center;
            @if $slides-bullet-bg-color {
                background-color: $slides-bullet-bg-color;
            }
        }
        .#{$slides-class}-bullets {
            display: block;
            //float: none;
            //position: relative;
            margin: 0;
            overflow: hidden;
            text-align: center;
            > li {
                display: inline-block;
                //float: none;
                margin: 0 to-rem(3);
                width: $slides-bullet-radius;
                height: $slides-bullet-radius;
                background: $slides-bullet-nav-color;
                border-radius: $global-rounded;
                &.active {
                    background: $slides-bullet-nav-color-active;
                }
            }
        }
    }
}
