@import "global";

//
// @variables
//

$include-html-form-classes: $include-html-classes !default;

$switch-class: 'switch' !default;
// Controlling background color for the switch container
$switch-bg: $white !default;
$switch-border-width: 1px !default;
$switch-border-style: solid !default;
$switch-border-color: $gainsboro !default;
$switch-radius: $global-radius !default;

// We use these to control the switch heights for our default classes
$switch-height-tiny: to-rem(24) !default;
$switch-height-small: to-rem(28) !default;
$switch-height-medium: to-rem(32) !default;
$switch-height-large: to-rem(40) !default;
$switch-bottom-margin: to-rem(10) !default;

// We use these to style the switch-paddle
$switch-paddle-bg: $white !default;
$switch-paddle-transition-speed: 0.15s !default;
$switch-paddle-transition-ease: ease-out !default;
$switch-active-color: $primary-color !default;
$switch-active-border-color: $primary-color !default;

//
// @mixins
//

// We use this mixin to create the base styles for our switch element.
//
// $transition-speed - Time in ms for switch to toggle. Default: $switch-paddle-transition-speed.
// $transition-ease - Easing function to use for animation (i.e. ease-out). Default: $switch-paddle-transition-ease.
@mixin switch-base($transition-speed: $switch-paddle-transition-speed, $transition-ease: $switch-paddle-transition-ease) {
    border: none;
    margin-bottom: $switch-bottom-margin;
    outline: 0;
    padding: 0;
    position: relative;
    user-select: none;
    // Default label styles for type and transition
    label {
        display: block;
        position: relative;
        // margin-bottom: $switch-height-medium / 2;
        width: $switch-height-medium * 2;
        height: $switch-height-medium;
        background-color: $switch-bg;
        border: $switch-border-width $switch-border-style $switch-border-color;
        color: transparent;
        text-indent: 100%;
        // Transition for the switch label to follow paddle
        @include transition(left background border, $transition-speed, $transition-ease);
    }
    // So that we don't need to recreate the form with any JS, we use the
    // existing checkbox or radio button, but we cleverly position and hide it.
    input {
        position: absolute;
        opacity: 0;
        & + label {
            margin-left: 0;
            margin-right: 0;
        }
    }
    // The paddle for the switch is created from an before psuedoclass
    // content element. This is sized and positioned, and reacts to
    // the state of the input.
    label::before {
        content: "";
        display: block;
        position: absolute;
        left: to-rem(0);
        top: to-rem(0);
        width: $switch-height-medium - to-rem(2);
        height: $switch-height-medium - to-rem(2);
        background-color: $switch-paddle-bg;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        transition: left $transition-speed $transition-ease;
        transform: translate3d(0, 0, 0);
    }
    input:checked + label::before {
        left: $switch-height-medium + to-rem(0);
    }
}

// We use this mixin to create the size styles for switches.
//
// $height - Height (in px) of the switch. Default: $switch-height-medium.
// $font-size - Font size of text in switch. Default: $switch-font-size-medium.
// $line-height - Line height of switch. Default: 2.3rem.
@mixin switch-size($height: $switch-height-medium) {
    label {
        height: $height;
        width: $height * 2;
    }
    label::before {
        height: $height - to-rem(2);
        width: $height - to-rem(2);
    }
    input:checked + label::before {
        left: $height + to-rem(0);
    }
}

// We use this mixin to add color and other fanciness to the switches.
//
// $paddle-bg - Background of switch paddle. Default: $switch-paddle-bg.
// $active-color - Background color of positive side of switch. Default: $switch-positive-color.
// $negative-color - Background color of negative side of switch. Default: $switch-negative-color.
// $radius - Radius to apply to switch. Default: false.
// $base-style - Apply base styles? Default: true.
@mixin switch-style($paddle-bg: $switch-paddle-bg, $active-color: $switch-active-color, $active-border: $switch-active-border-color, $radius: false, $base-style: true) {
    // Setting up the radius for switches
    @if $radius == true {
        label,
        label::before {
            border-radius: $global-rounded;
        }
    }
    @else if $radius {
        label,
        label::before {
            border-radius: $radius;
        }
    }
    @if $base-style {
        label {
            background-color: $switch-bg;
            color: transparent;
        }
        label::before {
            background-color: $paddle-bg;
        }
        input:checked + label {
            background-color: $active-color;
            border-color: $active-border;
        }
    }
}

// We use this to quickly create switches with a single mixin
//
// $transition-speed - Time in ms for switch to toggle. Default: $switch-paddle-transition-speed.
// $transition-ease - Easing function to use for animation (i.e. ease-out). Default: $switch-paddle-transition-ease.
// $height - Height (in px) of the switch. Default: $switch-height-medium.
// $paddle-bg - Background of switch paddle. Default: $switch-paddle-bg.
// $active-color - Background color of an active switch. Default: $switch-active-color.
// $radius - Radius to apply to switch. Default: false.
// $base-style - Apply base styles? Default: true.
@mixin switch($transition-speed: $switch-paddle-transition-speed, $transition-ease: $switch-paddle-transition-ease, $height: $switch-height-medium, $paddle-bg: $switch-paddle-bg, $active-color: $switch-active-color, $active-border: $switch-active-border-color, $radius: false, $base-style: true) {
    @include switch-base($transition-speed, $transition-ease);
    @include switch-size($height);
    @include switch-style($paddle-bg, $active-color, $active-border, $radius, $base-style);
}

@include exports("switch") {
    @if $include-html-form-classes {
        .#{$switch-class} {
            @include switch;
            // Large radio switches
            &.large {
                @include switch-size($switch-height-large);
            }
            // Small radio switches
            &.small {
                @include switch-size($switch-height-small);
            }
            // Tiny radio switches
            &.tiny {
                @include switch-size($switch-height-tiny);
            }
            // Make the switch has radius
            &.radius {
                // border-radius: $switch-radius;
                label {
                    border-radius: $switch-radius;
                    &::before {
                        border-radius: $switch-radius - to-rem(1);
                    }
                }
            }
            // Make the switch completely round, like a pill
            &.round {
                // border-radius: $global-rounded;
                label {
                    &,
                    &::before {
                        border-radius: $global-rounded;
                    }
                }
            }
        }
    }
}
