@import "global";
@import "badges";
@import "buttons";
@import "switches";
@import "thumbs";
@import "icons";

//
// @variables
//

$include-html-table-list-classes: $include-html-classes !default;

$table-list-class: 'table-list' !default;
// We use this to control the margins and padding of the table list.
$table-list-margin-top: to-rem(10) !default;
$table-list-margin-bottom: to-rem(10) !default;
$table-list-margin-left: 0 !default;
$table-list-margin-right: 0 !default;
$table-list-padding-left: 0 !default;
$table-list-paragraph-font-size: to-rem(12) !default;

$table-list-border-color: $gainsboro !default;
$table-list-bg-color: false !default;

$table-list-item-padding-top: to-rem(11) !default;
$table-list-item-padding-left: ($grid-blank / 2) !default;
$table-list-item-margin-top: - $table-list-item-padding-top !default;
$table-list-item-margin-left: - $table-list-item-padding-left !default;
$table-list-item-badge-padding: to-rem(65) !default;
$table-list-item-overflow: hidden !default;
$table-list-item-border-color: $gainsboro !default;
$table-list-item-border-start: $table-list-item-padding-left !default;
$table-list-item-font-size: to-rem(14) !default;

$table-list-item-left-icon-margin: to-rem(5) !default;
$table-list-item-left-icon-size: to-rem(20) !default;
$table-list-item-left-icon-color: $steel !default;
$table-list-item-active-bg-color: $whitesmoke !default;

$table-list-divider-padding-top: to-rem(6) !default;
$table-list-divider-padding-left: $table-list-item-padding-left !default;
$table-list-divider-font-color: $aluminum !default;
$table-list-divider-bg-color: $ghost !default;

$table-list-thumb-width: to-rem(45) !default;
$table-list-thumb-margin: to-rem(10) !default;

$table-list-nav-distance: to-rem(15) !default;
$table-list-nav-icon-color: $base !default;
$table-list-nav-icon-size: to-rem(16) !default;

// We use this to control the list items
$table-list-display: block !default;

// We use this to control any elements within table list items
$table-list-children-display: block !default;

@include exports("table-lists") {
    @if $include-html-table-list-classes {
        /* Table-lists */
        .#{$table-list-class} {
            position: relative;
            padding-left: $table-list-padding-left;
            @if $table-list-margin-left and $table-list-margin-right {
                margin: $table-list-margin-top $table-list-margin-right $table-list-margin-bottom $table-list-margin-left;
            }
            @else {
                margin-top: $table-list-margin-top;
                margin-bottom: $table-list-margin-bottom;
                @if $table-list-margin-left {
                    margin-left: $table-list-margin-left;
                }
                @if $table-list-margin-right {
                    margin-right: $table-list-margin-right;
                }
            }
            list-style: none; // Remove usual bullet styles from table list
            @include hairline(double, $table-list-border-color, 0); // Double grey border.
            @if $table-list-bg-color {
                background-color: $table-list-bg-color;
            }
            &.has-#{$icons-class} {
                [class^=#{$icons-class}-]::before {
                    margin-right: $table-list-item-left-icon-margin;
                    vertical-align: -2px;
                    @if $table-list-item-left-icon-color {
                        color: $table-list-item-left-icon-color;
                    }
                    font-size: $table-list-item-left-icon-size;
                }
                .item-body {
                    overflow: hidden;
                }
            }
            &.has-#{$badge-class} .item {
                padding-right: $table-list-item-badge-padding;
                > a:not(.#{$buttons-class}) {
                    margin-right: - $table-list-item-badge-padding;
                }
            }
            &.has-#{$thumb-class} {
                .#{$thumb-class} {
                    width: $table-list-thumb-width;
                    height: $table-list-thumb-width;
                    &.left {
                        margin-right: $table-list-thumb-margin;
                    }
                    &.right {
                        margin-left: $table-list-thumb-margin;
                    }
                }
                .item-body {
                    overflow: hidden;
                    // margin-left: $table-list-thumb-width + $table-list-thumb-margin-right;
                    h1, h2, h3, h4, h5, h6 {
                        margin: 0 0 to-rem(5) 0;
                    }
                    p {
                        font-size: $table-list-paragraph-font-size;
                    }
                }
            }
            // &.radio .item{
            //     padding-right: 65px;
            //     > a:not(.btn) {
            //         margin-right: -65px;
            //     }
            //     .nav-right::after{
            //         right:9px;
            //         content: '';
            //         color:$primary-color;
            //         font-size: 30px;
            //         font-weight: 600;
            //     }
            //     &.selected .nav-right::after{
            //         content: $icon-arrow-forward;
            //     }
            // }
            // &.inverted {
            //     background: #333;
            //     color: #fff;
            //     @include hairline(double, #222, 0); // Double grey border.
            //     .item{
            //         @include hairline(bottom, #222, 12px); // Single grey border at bottom start with 12px.
            //         &:hover {
            //             background-color: #242424;
            //         }
            //         > a:not(.btn) {
            //             &:hover {
            //                 background-color: #242424;
            //             }
            //         }
            //     }
            // }
            > .item {
                position: relative;
                background-color: inherit;
                padding: $table-list-item-padding-top $table-list-item-padding-left;
                overflow: $table-list-item-overflow;
                font-size: $table-list-item-font-size;
                -webkit-touch-callout: none;
                @include hairline(bottom, $table-list-item-border-color, $table-list-item-border-start); // Single grey border at bottom start with 12px.
                //@include svg-hairline(bottom, $table-list-item-border-color, $table-list-item-border-start);
                //@include thin-border(bottom, $table-list-item-border-color, $table-list-item-border-start);
                // &.radio input[type=radio],
                // &.checkbox input[type=checkbox]{
                //     top:8px;
                // }
                // &.radio.left,&.checkbox.left{
                //     padding-left: 58px;
                // }
                &.span {
                    // display: -webkit-box;
                    display: flex;
                    span {
                        display: block;
                    }
                }
                // &:hover {
                //     background-color: $table-list-item-active-bg-color;
                // }
                // Remove the border from the last table list item
                &:last-child {
                    &::before, &::after {
                        height: 0;
                    }
                }
                // If it's a table list of links, make sure the child <a> takes up full table list item tap area (want to avoid selecting child buttons though)
                > a:not(.#{$buttons-class}) {
                    position: relative;
                    display: block;
                    padding: inherit;
                    // Make the entire list item tappable.
                    margin: $table-list-item-margin-top $table-list-item-margin-left;
                    @include ellipsis;
                    color: inherit;
                    &:hover {
                        background-color: $table-list-item-active-bg-color;
                    }
                }
                p,
                .#{$buttons-class} {
                    margin-bottom: 0;
                }
                // Table-lists with buttons, badges and switchs
                .#{$buttons-class},
                .#{$badge-class},
                .#{$switch-class} {
                    position: absolute;
                    top: 50%;
                    right: $table-list-item-border-start;
                    transform: translateY(-50%);
                }
                > .nav-right {
                    &::before {
                        content: $icon-arrow-forward;
                        position: absolute;
                        top: 50%;
                        right: $table-list-nav-distance;
                        transform: translateY(-50%);
                        font-size: $table-list-nav-icon-size;
                        color: $table-list-nav-icon-color;
                    }
                    // give right element some more room.
                    > .right {
                        margin-right: $table-list-nav-distance + $table-list-nav-icon-size;
                    }
                    > .#{$buttons-class},
                    > .#{$badge-class},
                    > .#{$switch-class} {
                        right: $table-list-nav-distance + $table-list-nav-icon-size + to-rem(4);
                    }
                }
                > .#{$table-list-class} {
                    margin: $table-list-item-padding-top $table-list-item-margin-left $table-list-item-margin-top $table-list-item-margin-left * 2;
                    border: 0 none;
                    &::after {
                        left: $table-list-item-border-start;
                    }
                    &.has-#{$badge-class} {
                        margin-right: -65px;
                    }
                    > .item {
                        padding-left: $table-list-item-border-start * 2;
                        &::after {
                            left: $table-list-item-border-start * 2;
                        }
                    }
                }
                > .content {
                    padding: 8px $table-list-item-padding-left;
                    margin: $table-list-item-padding-top $table-list-item-margin-left $table-list-item-margin-top;
                    background: white;
                    overflow: hidden;
                    transition: height .35s ease;
                }
                &.collapse {
                    > .nav-right::before {
                        content: $icon-arrow-down;
                    }
                    > .#{$table-list-class} {
                        display: none;
                    }
                    > .content {
                        display: none;
                    }
                    // &:hover {
                    //     .#{$table-list-class},
                    //     > .content {
                    //         display: block;
                    //     }
                    //     > .nav-right::before {
                    //         content: $icon-arrow-up;
                    //     }
                    // }
                }
            }
            // Pad each table list item and add dividers
            > .divider {
                position: relative;
                padding: $table-list-divider-padding-top $table-list-divider-padding-left;
                // Hides the border of the previous list item
                margin-top: -1px;
                margin-left: 0;
                font-weight: $font-weight-bold;
                color: $table-list-divider-font-color;
                background-color: $table-list-divider-bg-color;
                // Double (top and bottom) grey border with no offset.
                @include hairline(double, $table-list-item-border-color, 0);

            }
            // &.unfold {
            //     .item.collapse .table-list {
            //         display: block;
            //         &::before, &::after {
            //             height: 0 !important;
            //         }
            //     }
            // }
        }
    }
}
