// Icons Variables
// --------------------------

$icons-font-path: "../fonts" !default;
$icons-font-family: "icons" !default;
$icons-version: "1.0.0-alpha" !default;
$icons-prefix: icon- !default;

$icon-var-arrow-back: "\2801";
$icon-var-arrow-down: "\2802";
$icon-var-arrow-forward: "\2803";
$icon-var-arrow-up: "\2804";
$icon-var-bag: "\2805";
$icon-var-business: "\2806";
$icon-var-card: "\2807";
$icon-var-cart: "\2808";
$icon-var-chatbox: "\2809";
$icon-var-clock: "\280a";
$icon-var-coin: "\280b";
$icon-var-coupon: "\280c";
$icon-var-discover: "\280d";
$icon-var-edit: "\280e";
$icon-var-eye: "\280f";
$icon-var-forward: "\2810";
$icon-var-freeship: "\2811";
$icon-var-grid: "\2812";
$icon-var-heart: "\2813";
$icon-var-help: "\2814";
$icon-var-home: "\2815";
$icon-var-list: "\2816";
$icon-var-location: "\2817";
$icon-var-lock: "\2818";
$icon-var-mail: "\2819";
$icon-var-menu: "\281a";
$icon-var-mobile: "\281b";
$icon-var-more: "\281c";
$icon-var-order: "\281d";
$icon-var-package: "\281e";
$icon-var-paper: "\281f";
$icon-var-reduce: "\2820";
$icon-var-refund: "\2821";
$icon-var-return: "\2822";
$icon-var-saleoff: "\2823";
$icon-var-scan: "\2824";
$icon-var-search: "\2825";
$icon-var-send: "\2826";
$icon-var-share: "\2827";
$icon-var-shop: "\2828";
$icon-var-spanner: "\2829";
$icon-var-speaker: "\282a";
$icon-var-star: "\282b";
$icon-var-tags: "\282c";
$icon-var-trash: "\282d";
$icon-var-trunk: "\282e";
$icon-var-user: "\282f";
$icon-var-wallet: "\2830";