// Icons Font Path
// --------------------------

@font-face {
    font-family: $icons-font-family;
    src: url("#{$icons-font-path}/icons.woff?v=#{$icons-version}") format("woff"),
        url("#{$icons-font-path}/icons.ttf?v=#{$icons-version}") format("truetype"),
        url("#{$icons-font-path}/icons.svg?v=#{$icons-version}#svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.icon::before {
    display: inline-block;
    min-width: 1em;
    vertical-align: 0;
    line-height: 1;
    font-family: $icons-font-family;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    text-rendering: auto;
    speak: none;
}
